<%- include('../partials/head') %>
    <%- include('../partials/nav') %>

        <body>
            <main>
                <h1>Botanical Babe Branches</h1>
                <h2>Here is a list of shops</h2>
                <ul class="plant-list">
                    <% for(let s of shops) { %>
                        <li class="plant-card">
                            <span class="plant-name">
                                <%= s.name %>
                            </span>
                        </li>
                        <% } %>
                </ul>
            </main>
        </body>

        </html>