<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Plants</title>
    <link rel="stylesheet" href="/styles/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=SN+Pro:ital,wght@0,200..900;1,200..900&display=swap"
        rel="stylesheet">
</head>

<body>
    <main>
        <div>
            <h1>Add A New Plant</h1>
            <form action="/plants" method="POST">
                <label for="name">Name</label>
                <input type="text" placholder="Enter plant name" id="name" name="name">
                <label for="price">Price</label>
                <input type="number" placholder="Enter a price" id="price" name="price">
                <label for="name">Category</label>
                <select type="text" placholder="indoor" id="category" name="category">
                </select>
                <label for="name">Water</label>
                <input type="text" placholder="Eg.2-3 weeks" id="water" name="water">
                <button>Submit</button>
            </form>
        </div>
    </main>
</body>

</html>